<!DOCTYPE html>
<head>
  <title>webmouse setting</title>
  <script>
    var conf = {
      name : 'guest'
    };
    var str=localStorage['conf'] || JSON.stringify(conf);
    var _conf = JSON.parse(str);
    for(i in _conf) {
      conf[i]=_conf[i];
    }
    function helloCtrl($scope){
      $scope.conf = conf;
    }
    function save() {
        localStorage['conf'] = JSON.stringify(conf);
        history.back();
    }
    function DataCtrl($scope){
      $scope.save = save;
    }
  </script>
</head>
<body ng-app>
  <div ng-controller="DataCtrl">
    <button ng-click="save()">変更を保存して戻る</button>
  </div>
  <div ng-controller="helloCtrl">
    <span>名前</span>
    <input type="text" ng-model="conf.name" />
    <span>{{conf.name}}</span>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
</body>
